@import "../mixins";

.card {
  display: flex;

  &--row {
    flex-direction: row;
    gap: 48px;
    align-items: center;

    svg {
      width: 60px;
      height: 60px;

      @media only screen and (max-width: $bp-medium) {
        width: 36px;
        height: 36px;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      gap: 24px;
    }
  }

  &--column {
    flex-direction: column;
    gap: 24px;

    svg {
      width: 48px;
      height: 48px;

      @media only screen and (max-width: $bp-medium) {
        width: 36px;
        height: 36px;
      }
    }
  }

  &__body {
    flex: 1;
  }

  &__title {
    @include line-clip(2, $is-flex-item: true);

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 16px;
      font-size: 24px;
      font-weight: 500;
    }
  }

  .paragraph {
    @include line-clip(3, $is-flex-item: true);

    flex: 1;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media only screen and (max-width: $bp-medium) {
    gap: 36px;
  }
}
