@import "../mixins";

.card {
  display: flex;

  &--row {
    flex-direction: row;
    gap: 48px;
    align-items: center;

    svg {
      width: 60px;
      height: 60px;
    }
  }

  &--column {
    flex-direction: column;
    gap: 26px;

    svg {
      width: 48px;
      height: 48px;
    }
  }

  &__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
  }

  .paragraph {
    @include line-clip(3, $is-flex-item: true);
  }
}
