@import "../variables";

.main {
  counter-reset: item;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  padding-left: 240px;
  padding-right: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    height: 50px;
    width: 5px;
    background-color: $color-black;
    left: 120px;
    z-index: -10;

    @media only screen and (max-width: $bp-extra-large) {
      left: 30px;
    }
  }

  &::after {
    counter-increment: item;
    content: counter(item, decimal-leading-zero);
    right: 120px;
    color: $color-grey-light;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 10;

    @media only screen and (max-width: $bp-extra-large) {
      right: 30px;
    }
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @media only screen and (max-width: $bp-extra-large) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
