@import "./variables";

.heading-primary {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media only screen and (max-width: $bp-medium) {
    font-size: 48px;
    font-weight: 500;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 36px;
  }
}

.subheading {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media only screen and (max-width: $bp-medium) {
    font-size: 16px;
    line-height: 24px;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 14px;
  }
}

.paragraph {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 18px;
    line-height: 24px;
  }
}
