@import "./variables";

.heading-primary {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subheading {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paragraph {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
