@import "./variables";

.u-static {
  overflow: hidden;
}

.u-margin-top-large {
  margin-top: 120px;

  @media only screen and (max-width: $bp-large) {
    margin-top: 60px;
  }

  @media only screen and (max-width: $bp-medium) {
    margin-top: 24px;
  }
}

.u-gap {
  gap: 240px;

  @media only screen and (max-width: $bp-extra-large) {
    gap: 120px;
  }

  @media only screen and (max-width: $bp-large) {
    gap: 60px;
  }

  @media only screen and (max-width: $bp-medium) {
    gap: 48px;
  }
}

.u-color-white {
  color: $color-white;
}

.u-color-black {
  color: $color-black;
}

.u-color-grey {
  color: $color-grey;
}

.u-color-grey-light {
  color: $color-grey-light;
}
